.App {
  text-align: center;
}

.App-header {
  background-color: rgb(75,156,211);;
  height: 75px;
  padding: 20px;
  color: white;
  border-top-style:double;
  border-bottom-style:double;
  padding-top:5px;
  padding-bottom:5px;
  border-top-color: #7cbfcf;
  border-bottom-color:#7cbfcf;
  border-top-width:8px;
  border-bottom-width:8px;
 
  font-family: "Courier New";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: rgb(75,156,211);
  height: 100px;
  z-index: 3;
  padding: 10px;
  bottom: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  color: white;

  font-family: "Courier New";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
}

div.leftSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.rightSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-size: 20px;
}