.App {
  text-align: center;
}

.App-header {
  background-color: rgb(75,156,211);;
  height: 100px;
  padding: 20px;
  color: white;
  border-top-style:double;
  border-bottom-style:double;
  padding-top:5px;
  padding-bottom:5px;
  border-top-color: #7cbfcf;
  border-bottom-color:#7cbfcf;
  border-top-width:8px;
  border-bottom-width:8px;
 
  font-family: "Courier New";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: rgb(75,156,211);
  height: 100px;
  z-index: 3;
  padding: 10px;
  bottom: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  color: white;

  font-family: "Courier New";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
}

.App-center {
  display: flex;
  flex-direction: row;
}

div.leftSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.rightSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  overflow-y:scroll;
  position: absolute;
<<<<<<< HEAD
  margin-top: 20px;
=======
}

div.leftContainer{
  width: 250px;
  padding: 15px;
}

div.rightContainer {
  padding: 15px;
}

div.verticalDivide {
  background-color: gray;
  width: 1px;
  height: 100vh;
>>>>>>> 382472659c6166d1b3884c033e9892e141fd2b5c
}

h1 {
  font-size: 20px;
}

div.kit {
  display: none;
}

#dropdown {
  list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#dropdown ul a {
  display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

/* #dropdown ul li {
  position:relative;
	float:left;
	margin:0;
	padding:0
}

#dropdown ul li:hover {
  background:#f6f6f6;
}

#dropdown ul li:hover > ul {
  display: block;
}
*/
div.w3-container {
  width: 150px;
  margin-left: 35px;
} 