div#sched_square {
    /* background-color: green; */
    border: 1.2px solid black;
    width: 130px;
    height: 175px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
  
span.squareSymbol {
  color: white;
  font-size: 25px;
}


div.onyen {
  font-size: 17px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}