div.color {
  background-color: lightgrey;
}

div#scheduleHeader {
  display: flex;
  flex-direction: row;
  padding-left: 7px;
}

div.sdayLabel {
  color: rgb(75,156,211);
  font-size: 23px;
  width: 130px;
  border: 1px solid black;
}